* {
    margin: 0;
    padding: 0;
/*    @확인용*/
    border: 1px solid pink;
}

body {
    width: 765px;
    height: 1000px;
    margin: 100px;
}

#starusLogo {
    text-align: center;
}

#starusLogo>img {
    height: 270px;
    margin-top: 170px;
}

#paycompText {
    text-align: center;
}

#paycomText>h1:first-child {
    margin-top: 20px;
}

#main_wrap {
    width: 765px;
    height: 1000px;
    border: 1px solid black;
    position: relative;
}

img {
    width: 765px;    
    position: absolute;
}

#bg_bottom{
    position:absolute;
    bottom:0px;
    left: 20px;
}

#main_logo{
    top: 230px;
    left: 75px;
    width: 630px;
}

#store_btn{
    position: absolute;
    background-color: #027353;
    width: 200px;
    height: 100px;
    left: 150px;
    bottom: 180px;   
    padding: 30px;
}

#takeout_btn{
    position: absolute;
    background-color: #027353;
    width: 200px;
    height: 100px;
    right: 150px;
    bottom: 180px;
    padding: 20px;
}