@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
/*    @확인용*/
/*    border: 1px solid pink;*/
    font-family: 'Noto Sans KR', sans-serif;
}

/* %%%결제페이지 시작*/
#paymentpage {
/*    @확인용*/
    border: 1px solid skyblue;
    width: 765px;
    height: 1000px;
    margin: 100px;
}

#payheader {
    text-align: center;
    height: 50px;
    background-color: black;
}

#payheader>h1 {
    color: white;
}
/*주문*/
#order {
    overflow: hidden;
    margin: 50px 50px 20px 80px;
}

#order>h1 {
    float: left;
}
#backbutton {
    float: right;
    background-color: #888;
    height: 35px;
    padding: 8px 12px;
    border-radius: 10px;
}
/*주문목록*/
#orderlist {
    font-size: 18px;
    border-bottom: 1px solid #AAA;
    margin: 0px 80px 30px 80px;
    padding-bottom: 10px;
    border-collapse: separate;
    border-spacing: 0px 25px;
}

#orderlist>tr:first-child {
    color: #025940;
    font-size: 20px;
}

#orderlist>tr>th:first-child {
    width: 451px;
    text-align: left;
}

#orderlist>tr>th:not(:first-child) {
    width: 77px;
}

#orderlist>tr>th:first-child>img {
    height: 60px;
    width: 60px;
    border-radius: 20px;
    vertical-align: middle;
}

#orderlist>tr>th:first-child>span {
    margin-left: 20px;
}

/*총금액*/
#pricesum {
    margin: 0px 80px;
    font-size: 20px;
    font-weight: bolder;
    overflow: hidden;
    float: right;
}
#pricesum>span:first-child {
    color: #025940;
    margin-right: 80px;
}

/* %%%결제페이지 끝*/


/* %%%결제수단 시작*/

/* %%%결제수단 끝*/


/* %%%결제완료페이지 시작*/
#pcpage {
    width: 765px;
    height: 1000px;
    margin: 100px;
    background-color: black;
}

/*스타어스로고부분*/
#starusLogo {
    text-align: center;
}

#starusLogo>img {
    height: 270px;
    margin-top: 170px;
}

/*결제완료 및 주문번호 부분*/
#paycompText {
    text-align: center;
    color: white;
}

#paycomText>h1:first-child {
    margin-top: 20px;
}

/*홈버튼부분*/
#homebuttonpart {
    text-align: center;
}

#homebutton {
    border: 17px solid #C22C27;
    border-radius: 10px;
    background-color: #C22C27;
    color: white;
    font-size: 35px;
}
/* %%%결제완료페이지 끝*/
