@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
/*    @확인용*/
/*    border: 1px solid pink;*/
    font-family: 'Noto Sans KR', sans-serif;
}

/* %%%결제완료페이지 시작*/
#pcpage {
    width: 765px;
    height: 1000px;
    margin: 100px;
    background-color: black;
}

/*스타어스로고부분*/
#starusLogo {
    text-align: center;
}

#starusLogo>img {
    height: 270px;
    margin-top: 170px;
}

/*결제완료 및 주문번호 부분*/
#ordernum {
    text-align: center;
    color: white;
}

#ordernum>h1:first-child {
    margin-top: 20px;
}


#main_wrap {
    width: 765px;
    height: 1000px;
    border: 1px solid black;
    position:relative;
}

#bg_top {
    width: 765px;
    position: absolute;
}

#bg_bottom{
    width: 765px;
    position:absolute;
    bottom:0px;
    left: 20px;
}

#main_logo{
    width: 600px;
    position: absolute;
    top: 200px;
    left: 100px;

}

#store_btn{
    position: absolute;
    background-color: #027353;
    width: 200px;
    height: 100px;
    left: 140px;
    bottom: 180px;
    padding: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    border: 2px solid black;
}

#takeout_btn{
    position: absolute;
    background-color: #027353;
    width: 200px;
    height: 100px;
    left: 450px;
    bottom: 180px;
    padding: 20px;
    font-family: 'Noto Sans KR', sans-serif;
    border: 2px solid black;
}

/*홈버튼부분*/
#homebuttonpart {
    text-align: center;
}

#homebutton {
    border: 17px solid #C22C27;
    border-radius: 10px;
    background-color: #C22C27;
    color: white;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
}
/* %%%결제완료페이지 끝*/

