@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
/*    @확인용*/
/*    border: 1px solid pink;*/
    font-family: 'Noto Sans KR', sans-serif;
}

/*%%%결제페이지 시작*/
#paymentpage {
/*    확인용*/
    border: 1px solid blue;

    width: 765px;
    height: 1000px;
    margin: 100px;
}

#payheader {
    text-align: center;
    height: 50px;
    background-color: black;
}

#payheader>h1 {
    color: white;
}
/*주문*/
#order {
    overflow: hidden;
    margin: 50px 50px 20px 80px;
}

#order>h1 {
    float: left;
}
#backbutton {
    float: right;
    background-color: #888;
    height: 35px;
    padding: 8px 12px;
    border-radius: 10px;
}

/*주문테이블*/
.orderthead {
/*    @확인용*/
/*    border: 1px solid skyblue;*/

    margin: 40px 80px 30px 80px;
    font-size: 20px;
    font-weight: 700;
    color: #025940;
}

.orderthead>tr>td:first-child {
    width: 451px;
}

.orderthead>tr>td:not(:first-child) {
    width: 77px;
}

.orderlist {
/*    @확인용*/
    border: 1px solid skyblue;

    height: 300px;
}

.ordertbody {
/*    @확인용*/
    border: 1px solid skyblue;

    margin: 0px 80px 20px 80px;
}

.ordertbody>tr>td:first-child {
    width: 451px;
}

.ordertbody>tr>td:not(:first-child) {
    width: 77px;
}



/*
#orderlist>tr:first-child {
    color: #025940;
    font-size: 20px;
끝
}

#orderlist>tr>th:first-child {
    width: 451px;
    text-align: left;
끝
}

#orderlist>tr>th:not(:first-child) {
    width: 77px;
끝
}

#orderlist>tr>th:first-child>img {
    height: 50px;
    width: 50px;
    border-radius: 20px;
    vertical-align: middle;
끝
}

#orderlist>tr>th:first-child>span {
    margin-left: 20px;
}
*/

/*총금액*/
#pricesum {
    margin: 0px 80px;
    font-size: 20px;
    font-weight: bolder;
    overflow: hidden;
    float: right;
}
#pricesum>span:first-child {
    color: #025940;
    margin-right: 80px;
}

/*결제수단*/
#cardchoice {
    margin: 100px 80px;
}

#paychoice {
    text-align: center;
}

#paychoice>button>img {
    width: 120px;
}

#paychoice>button {
    width: 200px;
    height: 190px;
    background-color: #025940;
    color: white;
    vertical-align: middle;
    margin: 50px 30px;
    border-radius: 20px;
    font-size: 23px;
}

/*%%%결제페이지 끝*/
