* {
    margin: 0;
    padding: 0;
    /*    @확인용*/
    border: 1px solid pink;
}

body {
    width: 765px;
    height: 1000px;
    margin: 100px;
}

#starusLogo {
    text-align: center;
}

#starusLogo>img {
    height: 270px;
    margin-top: 170px;
}

#paycompText {
    text-align: center;
}

#paycomText>h1:first-child {
    margin-top: 20px;
}

.detail_top {
    margin: 40px;
    margin-top: 60px;
}

.detail_top>img {
    border-radius: 30%;
    width: 250px;
    height: 250px;
    float: left;
}

#dt_table1 {
    text-align: left;
    margin-left: 40px;
    width: 350px;
    float: left;
}

#dt_money {
    font-weight: bold;
    color: #025940;
}

#dt_table2 {
    width: 300px;
    margin: 30px;
    float: left;
    text-align: center;
    margin-left: 60px;
}

#dt_table2 img {
    width: 100px;
    height: 100px;
}