* {
    margin: 0;
    padding: 0;
}

body {
        width: 765px;
        height: 1000px;
        font-family: 'Noto Sans KR', sans-serif;

        border: 1px solid #ddd;
    }

header {
    height: 60px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.3em;
}

nav {
    width
    height: auto;
    text-align: center;
}

nav>table {
    width: 765px;
}

nav>table tr{
    height: 40px;
    border-bottom: 1px solid #aaa;
}

div.menu {
    width: 540px;
    border: 1px solid #aaa;
    float: left;
}

div>table tr, div>table td{
    border: 1px solid #aaa;
    border-collapse: collapse;
}

div.cart {
    width: 220px;
    border: 1px solid #aaa;
    float: right;
}

div.footer {
    float: left;
}


